
.search-container{
display:flex
}
.search-input{
    margin-top:0%;
    width:75%
}

.search-button{
    background: #58249c;
    margin-left:5px;
    width:25%;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.search-button:hover{
    background: #fff;
    color: #333;
}

.navbar a:last-child {

    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  .navbar a:last-child:hover {
    background: #fff;
    color: #333;
  }